::-webkit-scrollbar {
    width: 1vw;
    background: white;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
    background-color: #008b9c;
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: #6200ff;
    }
