.Clear-Button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;
    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;
    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/* Remove excess padding and border in Firefox 4+ */
::-moz-focus-inner {
    border: 0;
    padding: 0;
}


.action-button
{
    background-color: rgb(27,27,27);
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition-duration: 300ms;
    margin: 0.5em;
}

    .action-button:hover {
        transform: scale(1.05);
        background-color: deeppink;
    }

.hidden-state
{
    display: none;
}
