.user-container {
    display: block;
    position: relative;
    min-height: 150px;
    width: 250px;
    position: fixed;
    z-index: 1;
    padding: 10px;
    right: 0;
    top: 1em;
    background-color: #000;
    transform: translateX(100%);
    transition: 0.5s;
    color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}
    .user-container.NoCollapse {
        transform: translateX(0%);
    }

.user-container-item-container{
    display: flex;
    flex-direction: column;
}

.user-container-item
{
    margin-bottom: 1em;
    padding: 5px;
    background-color: #21FA90;
    border-radius: 10px;
    transition: 0.5s;
    color: black;
    cursor: pointer;
}
.user-container-item:hover {
    background-color: #FF4365;
}

    .user-container-item.user {
        background-color: #FFFFF3;
        cursor: auto;
    }

        .user-container-item.user:hover {
            background-color: #FFFFF3;
        }

.user-button {
    position: fixed;
    right: 5px;
    top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 2em;
    background-color: white;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.5s;
}

    .user-button:hover {
        transform: scale(1.2);
    }

.user-button-closer {
    position: relative;
    left: 10px;
    top: 10px;
    margin-bottom: 15px;
    
}

.pointer
{
    cursor: pointer;
}


@media screen and (max-width: 550px) {

    .user-button {
        background-color: #030301;
        color: white;
    }
}