.green
{
    background-color: lightseagreen;
}

.isActive
{
    background-color: darkcyan;
}

.red
{
    background-color: crimson;
}

.table.dark {
    background-color: #252525;
    color: white;
}

.current-item {
    background-color: #33cccc;
}



/*  MainColors
    #cc3380
    #33cccc
*/