.green {
    background-color: #00ff6a;
}

.isActive {
    background-color: darkcyan;
}

.red {
    background-color: crimson;
}

.blue {
    background-color: #00bbff;
}

.table.dark {
    background-color: #252525;
    color: white;
}

.current-item {
    background-color: #33cccc;
}



/*  MainColors
    #cc3380
    #33cccc
*/
