.green
{
    background-color: lightseagreen;
}

.isActive
{
    background-color: darkcyan;
}

.red
{
    background-color: crimson;
}

.table.dark {
    background-color: #252525;
    color: white;
}