.Clear-Button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;
    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;
    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

a, a:active, a:visited, a:hover {
    text-decoration: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* Remove excess padding and border in Firefox 4+ */
::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.action-button
{
    background-color: rgb(27,27,27);
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition-duration: 300ms;
    margin: 0.5em;
}

    .action-button:hover {
        transform: scale(1.05);
        background-color: deeppink;
    }

.hidden-state
{
    display: none;
}

.input-blackbg[type=text] {
    background-color: rgb(27,27,27);
    border: none;
    color: white;
    border-bottom: 1px solid #cc3380;
    padding: 5px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    box-sizing: border-box;
    width: 100%;
    outline: none;
}

.input-blackbg[type=text]:focus {
    border: 1px solid #cc3380 !important;
}
 