@page "/"
@namespace HueSite.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!--Main meta data and other-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HueSite</title>
    <base href="~/" />

    <!--Icons&stuff-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="/favicon.png" rel="icon" />

    <!--Main layouts-->
    <link href="~/css/LayoutCss/ContainersWithItems.css" rel="stylesheet" />
    <link href="~/css/LayoutCss/GridLayout.css" rel="stylesheet" />
    <link href="~/css/LayoutCss/NotFound.css" rel="stylesheet" />
    <link href="~/css/LayoutCss/Authorize.css" rel="stylesheet" />

    <!--Other-->
    <link href="~/css/Other/ClearBase.css" rel="stylesheet" />
    <link href="~/css/Other/ScrollBar.css" rel="stylesheet" />
    <link href="~/css/Other/UserAttribute.css" rel="stylesheet" />
    <link href="~/css/Other/Utilities.css" rel="stylesheet" />
    <link href="~/css/Pages/Notes.css" rel="stylesheet" />
    <link href="~/css/Other/UtilitiesColors.css" rel="stylesheet" />
    <link href="~/css/Pages/MainProgramsPage.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>

    <app>
        <component type="typeof(App)" render-mode="Server" />
    </app>

    <!--<div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>-->

    <script src="_framework/blazor.server.js"></script>
    <script src="https://kit.fontawesome.com/yourcode.js"></script>
</body>
</html>
