@page "/Downloads"
@layout MenuLayout

<div class="Menubody">
    <div class="GridContainer">
        <a href="/">
            <div class="MediumTile">
                <img src="/icons/program1.png" />
                <div class="Hover-Content">
                    Homepage
                </div>
            </div>
        </a>
        <a href="/Downloads">
            <div class="MediumTile">
                <img src="/icons/magic.png" />
                <div class="Hover-Content">
                    Magic Console
                </div>
            </div>
        </a>
        <a target="_blank" href="/Downloads/Activation.zip" download="activator">
            <div class="MediumTile">
                <img src="/icons/windows.png" />
                <div class="Hover-Content">
                    Windows Activator
                </div>
            </div>
        </a>
    </div>
</div>

@code {

}
