@page "/login"
@using Data
@inject AuthenticationStateProvider AuthState
@inject NavigationManager NavMag
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

<h3>Login</h3>

@code {

}
