@page "/notes/"
@using HueSite.Data.IServices.INotes
@using HueSite.Data.Models
@inject INotes notes
@inject NavigationManager navManager


<h3>Note list:</h3>
<div class="note-container">
    @if (user != null)
    {
        AssignNotes();

        <div class="note-list" style="background-color: teal" @onclick="CreateNote"><i class="fas fa-plus-square"></i> Create new Note</div>
        @foreach (var note in user.Notes)
        {
            <div class="note-list @user.SelectedTheme" @onclick="@( () => { navManager.NavigateTo($"/note/{note.Id}"); })"><i class="fas fa-sticky-note"></i> @note.Id</div>
        }
    }
    else
    {
        <p style="text-align:center">Loading data...</p>
    }
</div>

@code {
    [CascadingParameter] AppUser user { get; set; }

    async Task AssignNotes()
    {
        user.Notes = await notes.GetNotesByUserID(user.Id);
        if (user.Notes == null)
        {
            user.Notes = new List<Note>();
        }
    }   

    async Task CreateNote()
    {
        Note newNote = new Note() { UserId = user.Id };
        await notes.CreateNote(newNote);
        navManager.NavigateTo($"/note/{newNote.Id}");
    }
}
