@using HueSite.Data.IServices.INotes
@using HueSite.Data.Models
@inject INotes notes
@inject NavigationManager navManager
@page "/note/{id}"

@if (user != null)
{
    <input type="text" class="input-blackbg Edit-note-input @user.SelectedTheme" placeholder="@currentNote.Name" />
    <div class="edit-note-actions">
        <input type="text" class="input-blackbg Edit-note-input title @user.SelectedTheme" placeholder="Title" />
        <div class="Clear-Button button-1" style="flex-grow: 1;">Save</div>
        <div class="Clear-Button button-1" style="flex-grow: 1;">Delete</div>
    </div>
    <textarea class="Clear-TextArea text-area Edit-note-input TextBox" rows="20"/>
}
else
{
    <p style="text-align:center">Loading data...</p>
}
@code {
    [Parameter] public string id { get; set; }
    [CascadingParameter] AppUser user { get; set; }
    Note currentNote { get; set; }

    protected override async Task OnInitializedAsync()
    {
        currentNote = await notes.GetNoteByID(id);
    }
    async Task remove()
    {
        await notes.DeleteNoteById(id);
        navManager.NavigateTo("/notes");
    }
}
