@page "/notes/"
@using HueSite.Data.IServices.INotes
@using HueSite.Data.Models
@inject INotes notes


<h3>Note list:</h3>
<div class="note-container">
    @if (user != null)
    {
        AssignNotes();

        if (user.Notes != null)
        {
            @foreach (var note in user.Notes)
            {
                <div class="note-list">@note.Name</div>
            }
        }
        else
        {
            user.Notes = new List<Note>();
        }

    }
    else
    {
        <p>bneng </p>
    }
</div>

@code {
    [CascadingParameter] AppUser user { get; set; }

    protected override async Task OnInitializedAsync()
    {

    }

    protected override async Task OnParametersSetAsync()
    {
        //user.Notes = await notes.GetNotesByUserID(user.Id);
    }

    async Task AssignNotes()
    {
        user.Notes = await notes.GetNotesByUserID(user.Id);
        if (user.Notes == null)
        {
            user.Notes = new List<Note>();
        }
    }
}
