@using HueSite.Data.IServices.INotes
@using HueSite.Data.Models
@inject INotes notes
@inject NavigationManager navManager
@page "/note/{id}"

@if (user != null)
{
    <input type="text" class="input-blackbg Edit-note-input @user.SelectedTheme" placeholder="@currentNote.Name" />
    <input type="text" class="input-blackbg Edit-note-input title @user.SelectedTheme" placeholder="Title" />
}
else
{
    <p style="text-align:center">Loading data...</p>
}
@code {
    [Parameter] public string id { get; set; }
    [CascadingParameter] AppUser user { get; set; }
    Note currentNote { get; set; }

    protected override async Task OnInitializedAsync()
    {
        currentNote = await notes.GetNoteByID(id);
    }
    async Task remove()
    {
        await notes.DeleteNoteById(id);
        navManager.NavigateTo("/notes");
    }
}
