@using HueSite.Data.IServices.ISortingAlg
@inject ISorting sort

@page "/sortingalgorithms"

<h3>SortingAlgorithms</h3>

<p>
    @foreach (var x in test)
    {
        @x
    }
</p>


@code {

    int[] x = { 1, 0, 2, 9, 3, 8, 4, 7, 5, 6 };
    int[] test;

    protected override async Task OnInitializedAsync()
    {
        test = sort.BubbleSort(x);
    }
}
