@page "/construction"

<h2 style="text-align: center">Under Construction!</h2>

<div style="text-align: center;">
    <img src="/icons/under-construction.png" alt="Construction" />
</div>


@code {

}
