:root {
    --containerWidth: 80vw;
    --MediumTile: 20vh;
    --radio: Calc(100vw > 20vh);
}

/*#region AuthenticationBody */

.AuthBody {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(27, 27, 27);
    display: flex;
    justify-content: center;
    align-items: center;
}

.AuthTiles {
    /*Positioning*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*Size*/
    padding: 10px;
    min-width: 20%;
    min-height: 50px;
    margin: 1em;
    /*Design*/
    background-color: #FFF;
    transition: 0.5s ease-in-out;
    color: dimgrey;
    border-radius: 20px;
}

/*#endregion */

/*#region Main layout */

.main-layout {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(27, 27, 27);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.main-container {
    margin: 1em auto auto auto;
    width: 80vw;
    min-width: 45vw;
    min-height: 90vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.main-content {
    background-color: #FFF;
    min-height: 70vh;
    height: fit-content;
    flex-grow: 10;
    padding: 10px;
    border-radius: 20px;
}

/*#endregion */

/*#region Main Slider menu */

.mobile-menu {
    display: block;
    position: relative;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    padding: 10px;
    top: 0;
    left: 0;
    background-color: #030301;
    overflow-x: hidden;
    transition: 0.5s;
    color: white;
    transform: translateX(-100%);
}

    .mobile-menu.NoCollapse {
        transform: translateX(0%);
    }

.button-expander {
    position: fixed;
    left: 5px;
    top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 2em;
    background-color: white;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.5s;
}

    .button-expander:hover {
        transform: scale(1.2);
    }

.button-closer {
    position: absolute;
    right: 5px;
    color: white;
    cursor: pointer;
    width: 20px;
    z-index: 99;
}

.item {
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    padding: 0.5em;
    transition-duration: 700ms;
    border-radius: 10px;
    display: block;
    color: white;
    margin: 5px;
    cursor: pointer;
}

.current-item {
    background-color: #FF4365;
}

.item:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

/*#endregion */

/*May remove*/
.item-whitebg {
    color: inherit;
}

    .item-whitebg:hover {
        color: black;
    }

@media screen and (max-width: 550px) {

    .main-container{
        width: 100vw;
    }

    .button-expander{
        background-color: #030301;
        color: white;
    }
}