@page "/page"

<h3 style="text-align:center;">Welcome to programs!</h3>
<h2>About:</h2>
<p>
    That's the main page of the programs section.<br />
    You can find here programs made via Blazor.
</p>
<p>
    That's the main page of the programs section.<br />
    You can find here programs made via Blazor.
</p>
<p>
    That's the main page of the programs section.<br />
    You can find here programs made via Blazor.
</p>
<p>
    That's the main page of the programs section.<br />
    You can find here programs made via Blazor.
</p>
<p>
    That's the main page of the programs section.<br />
    You can find here programs made via Blazor.
</p>
<p>
    That's the main page of the programs section.<br />
    You can find here programs made via Blazor.
</p>
<p>
    That's the main page of the programs section.<br />
    You can find here programs made via Blazor.
</p>
<p>
    That's the main page of the programs section.<br />
    You can find here programs made via Blazor.
</p>
<p>
    That's the main page of the programs section.<br />
    You can find here programs made via Blazor.
</p>
<p>
    That's the main page of the programs section.<br />
    You can find here programs made via Blazor.
</p>
<p>
    That's the main page of the programs section.<br />
    You can find here programs made via Blazor.
</p>
<p>
    That's the main page of the programs section.<br />
    You can find here programs made via Blazor.
</p>
<p>
    That's the main page of the programs section.<br />
    You can find here programs made via Blazor.
</p>
<p>
    That's the main page of the programs section.<br />
    You can find here programs made via Blazor.
</p>
<p>
    That's the main page of the programs section.<br />
    You can find here programs made via Blazor.
</p>



@code {

}
