@inherits LayoutComponentBase

<div class="AuthBody">

    <a href="Identity/Account/Register">
        <div class="AuthTiles">Register</div>
    </a>

    <a href="Identity/Account/Login">
        <div class="AuthTiles">Log in</div>
    </a>

</div>

@code {

}
