@inject NavigationManager nav

<div @onclick="(() => nav.NavigateTo(Homepage))"><div class="item" style="margin-top: 30px;"><i class="fa fa-fw fa-home"></i> Homepage</div></div>
<AuthorizeView>
    <Authorized>
        <form method="post" action="Identity/Account/Logout">
            <button type="submit" class="btn item" style="text-align: left;"><i class="fas fa-sign-out-alt"></i> Log out</button>
        </form>
    </Authorized>
</AuthorizeView>
<AuthorizeView Roles="admin">
    <Authorized>
        <div @onclick="(() => nav.NavigateTo(AdminPage))"><div class="item"><i class="fa fa-code"></i> Admin panel</div></div>
    </Authorized>
</AuthorizeView>
<div class="item"  @onclick="(() => nav.NavigateTo(Sorting))"><i class="fa fa-code"></i> Sorting Algorithms</div>
<div class="item"><i class="fa fa-code"></i> item</div>
<div class="item"><i class="fa fa-code"></i> item</div>
<div class="item"><i class="fa fa-code"></i> item</div>
<div class="item"><i class="fa fa-code"></i> item</div>



@code {
    string Homepage = "/";
    string AdminPage = "/admin";
    string Sorting = "/sortingalgorithms";
}
